export HUAWEICLOUD_SDK_AK=HPUAE1MAHBIWWPY6YXFT
export HUAWEICLOUD_SDK_SK=3vxHO43y0ZRHWogP73gtqZ2H5fQKatB0KPmEwcBZ
export HUAWEICLOUD_SDK_ENDPOINT=obs.cn-north-4.myhuaweicloud.com
export HUAWEICLOUD_SDK_BUCKET_NAME=bucket-pdf-74a6
